/* @font-face
{
    font-family: HelveticaNeue;
    src: url("../Assets/Fonts/Helvetica\ NeueLTW0693BlkExtObl.ttf");
} */
.aboutColumns
{
  display:flex;
  flex-basis:40%;
}
.aboutColumn1
{
  flex-basis: 30%;
  font-family: HelveticaNeue;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.aboutColumn2,.aboutColumn3
{
  flex-basis: 50%;
}
.aboutColumn2 p ,.aboutColumn3 p
{
  font-family: HelveticaNeue;
  font-size: 12px;;
  line-height: 2.92;
  letter-spacing: 0.5px;
  color:white;
  margin-bottom:5px;
  margin-top:0px;
}
.aboutColumn4
{
  font-family: BerkeleyStd;
  flex-basis: 40%;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.5px;
  border: none;
  color: white;
}
.aboutColumn4 input
{
  height:40px;
  width:90%;
  padding-left:3%;
  box-sizing: border-box;
}
.aboutColumn4 p
{
  opacity: 0.5;
}
.aboutContainer
{
  background-color:  #022737;
  padding-left:10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  display:flex;
}
.balanceContainer
{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin-right: 2%;
}
.balance
{
  box-shadow: 0 9px 21px 0 rgba(128, 152, 213, 0.08);
  height:172px;
  background-color: white;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top:20px;
  box-sizing: border-box;
}
.balanceHeading
{
  font-family: BerkeleyStd;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: #022737;
}
.balanceAmount
{ 
  font-family: HelveticaNeue;
  font-size: 42px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #69923a;
  margin-bottom:28px;
}
body
{
   margin: 0px auto;
   
}
.blueTop
{
    border-bottom-left-radius: 17.5px;
    border-bottom-right-radius: 17.5px;
    border: 2px solid #006778;
    color: white;
    background-color: #006778;
    font-family: HelveticaNeue;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.buttonDiv
{
  padding-right: 10%;
  text-align: right;
}
.copyRight
{
  margin-top:35px;
  color:white;
}
.content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cross
{
    float: right;
    color:  #022737;
    height:25px;
    width:25px;
}
.closeWarning
{
  flex-basis: 10%;
  padding-right:20px;
}
.closeWarning button
{
  border:none;
  cursor: pointer;
}
.description, .tabColumn1 p, .tabColumn2 p, .tabColumn3 p
{
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 1.5;
  color: #505050;
}
div.message
{
  padding: 12px 10% ;
  background-color: #eaeaea;
  border-bottom: solid 3px #006778;
}
.dropDown {
  position: relative;
  display:inline-block;
}
.dropbtn 
{
  padding: 16px;
  cursor: pointer;
  display: none;
  border: none;
  background-color: white;
  float:right;

}
.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  float:right;
  width:100%;
}
.dropdown-content a 
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover 
{
  background-color: #006778;;
}
.featured
{
  display:flex;
  background-color: #f2f2f2;
  padding-bottom: 50px;
  padding-left:10%;
  padding-right:10%
}
.featuredNavigationButtons
{
  display: flex;
  flex-basis: 5%;
  padding-left: 20px;
  align-items: center;
  background-color: white;
}
.featuredNavigationButtons button
{
  border-radius: 50%;
  height:27px;
  width:27px;
  background-color: white;
  border: solid 0.6px #727272;
  color: #727272;
}
.featuredColumn1
{
  flex-basis: 30%;
  padding-top: 28px;
  padding-bottom: 58px;
  background-color: white;
}
.featuredColumn1 h3
{
  font-family: HelveticaNeue;
  font-size: 15px;
  line-height: 1.43;
  color: #505050;
}
.featuredColumn1 span
{
  font-family: BerkeleyStd;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: #022737;
}
.featuredColumn2
{
  flex-basis: 70%;
  padding-top: 60px;
  padding-left: 6%;
  background-color: white;
}
.featuredColumn2 span
{
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 1.5;
  color: #505050;
}
.featuredContent
{
  display:flex;
  flex-basis:100%
}
footer
{
  background-color:#f2f2f2 ;
  text-align: center;
  padding-top:35px;
  padding-bottom:30px;
  font-family: HelveticaNeue;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}
.fundButtons
{
  text-align: center;
  padding:50px 10%;
  display: flex;
}
.fundButton1
{
  margin-right:1.7%;
}
.fundButtons button
{
  height:50px;
  flex-basis: 50%;
  background-color: #006778;
  color:white;
  border: none;;
}
.go
{
  height:40px;
  width:40px;
  color: white;
  background-color: #006778;
  border: 2px solid white;
}
.getEmail
{
  display: flex;
}
.info
{
    justify-content: center;
    background-color:#f2f2f2;
    padding-top:50px;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    box-sizing: border-box;
}
.infoDiv
{
  box-shadow: 0 9px 21px 0 rgba(128, 152, 213, 0.08);
  margin-left: 20px;
  width:100%;
  flex-basis: 70%;
  height:364px;
  background-color: white;
  padding-right:20px;
}
.image
{
    display:inline-block;
}
.learnMore
{
  margin-top: 20px;
}
.learnMore a
{
  text-decoration: none;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.5px;
  color: #006778;
}
.links
{
    box-sizing: border-box;
}
.linkedin
{
  padding-top:35px;
  color: #b6bdbd
}
.message span
{
  height: 20px;
  font-family: HelveticaNeue;
  font-size: 14px;
  line-height: 1.43;
  color: #505050;
}
.message a
{
  font-family: HelveticaNeue;
  font-size: 14px;
  line-height: 1.43;
  color: #006778;
}
.mobile
{
  display:none;
}
.nav
{
    height:65px;
    padding:0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navLinks
{
    text-align: right;
    margin-left:20px;
    color: #022737;
    text-decoration: none;
    font-weight: bold;
    font-size:15px;
    height:65px;
    padding-bottom:20px;
}
.navigation
{
  font-family: HelveticaNeue;
  font-size: 14px;
  line-height: 1.43;
  color: #505050;
  padding:15px 10%;
}
.optionBox
{
    box-sizing: border-box;
    height:56px;
    padding:20px 10px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #505050;
    border:rgba(128, 152, 213, 0.08) solid 1px;
    float: left;
    background-color: #f2f2f2;
}
.selected
{
   background-color: white ;
   border-top: #006778 2px solid;
}
.socialLogos
{
  display:none;
}
.optionNav
{
    height:56px;
}
.tab
{
  padding: 20px 30px;
}
.tab a
{
  font-family: BerkeleyStd;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.5px;
  color: #006778;
}
.tabColumns
{
  display: flex;
  flex-wrap: wrap;
}
.tabColumn
{
  flex-basis: 30%;
}
.tabSelected ,.links a:hover
{
  border-bottom:6px solid #006778;
  transition: 0.5s;
}
.tab span
{
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.5px;
  color: #006778;
  margin-top: 20px;
}
.title
{
    padding-left:10%;
    font-family: HelveticaNeue;
    font-size: 18px;
    line-height: 1.5;
    color: #505050;
}
.title h1
{
  font-family: BerkeleyStd;
  font-size: 42px;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #022737;
}
.title h2
{
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #022737;
}
.top
{
    max-height:40px;
    background-color:  #022737;
    color:white;
    text-align: right;
    padding: 10px 10%;
}
.top span
{
    margin-left: 40px;
}   
.top select
{
    width: 175px;
    height: 15px;
    border-radius: 10.5px;
    margin: 0 11px 0 0;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}
.warning
{ 
  display: flex;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 1.5;
  color: #505050;
  margin: 30px 10% ;
  border-left:6px solid #e37222;
  padding-left:30px;
  background-color:#f2f2f2;
  height:45px;
  padding-top:20px;
}
.warning a
{
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 1.5;
  color: #006778;
}
.warning i
{
    color: #e37222;
    margin-right: 20px;
}
.warningLogo
{
  flex-basis: 4%;
}
.warningMessage
{
  flex-basis: 90%;
}
.view
{
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.5px;
  color: #006778;
}
.viewButtons
{
  background-color:#f2f2f2;
  padding: 30px 10%;
  justify-content: center;
  display: flex;
}
.viewButtons button
{
  color: white;
  background-color: #006778;
  border: none;
  flex-basis: 30%;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.5px;
  padding:15px 0px;
  margin-right: 2%;
}
.viewButtons select
{
  text-align: center;
  padding:15px 0px;
  color: #006778;
  border: none;
  flex-basis: 30%;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: 0.5px;
}
@media(max-width:1000px)
{
    .aboutContainer
    {
      flex-direction: column;
    }
    .aboutColumn1
    {
      text-align: center;
    }
    .aboutColumn2,.aboutColumn3
    {
      font-size: 10px;
      line-height: 4.2;
      letter-spacing: 0.5px;
    }
    .aboutColumn4 p
    {
      font-size: 18px;
      line-height: 1;
      letter-spacing: 0.5px;
      color: white;
      opacity: 0.5;
    }
    .assistence
    {
      display: none;
    }
    .balanceContainer
    {
      width: 100%;
      margin-right: 0px;
    }
    .balance
    {
      height: 120px;
    }
    .balanceAmount
    {
      font-size: 36px;
      margin-bottom: 27px;
    }
    .balanceHeading
    {
      margin:1px 0px;
      font-size: 20px;
      line-height: 1.25;
    }
    .buttonDiv
    {
      text-align: right;
      padding-right:5%;
    }
    .closeWarning
    {
      padding-right: 0px;
      text-align: right;
    }
    .copyRight
    {
      color: white;
      opacity: 0.5;
      margin:44px 0px;
    }
    .description
    {
      margin-right: 30%;
    }
    .desktop
    {
      display:none;
    }
    div.message
    {
      padding:10px 5%;
    }
    .dropbtn
    {
      display:block
    }
    .featured
    {
      padding:0px 5%;
      padding-bottom: 40px;
    }
    .featuredNavigationButtons
    {
      padding-left:3%;
      padding-right: 3%; 
      flex-basis:20%
    }
    .featuredContent
    {
      flex-direction: column;
    }
    .featuredContent h4
    {
      font-size: 12px;
      line-height: 1.5;
      color: #505050;
    }
    .featuredContent span
    {
       font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.5px;
        color: #022737;
     }
    .featuredColumn1
    {
      padding-top: 20px;
      padding-bottom:5px;
    }
    .featuredColumn2
    {
      padding:0;
    }
    .featuredColumn2 span
    {
      font-size: 14px;
      line-height: 1.43;
      color: #505050;
    }
    footer
    {
      display: none;
    }
    .fundButtons
    {
      padding: 40px 5%;
      flex-direction: column;
    }
    .fundButtons button, .fundButton1
    {
      width:100%;
      height:50px;
      padding:16px 0;
      margin-bottom: 20px;
    }
    .info
    {
      flex-direction: column;
      align-items: center;
      padding:40px 5%;
    }
    .infoDiv
    {
      margin:0px;
      padding-right: 0px;
      display: flex;
      flex-direction: column;
    }
    .image
    {
      flex-basis: 65%;
    }
    .learnMore 
    {
      padding-bottom: 20px;
    }
    .linkedin
    {
      display: none;
    }
    .nav
    {
      padding:11px 5%;
    }
    .navLinks
    {
      height:20px;
    }
    .navLinks:hover
    {
      background-color: #022737;
      color: white;
      transition: 0.5s;
    }
    .optionBox span
    {
      font-family: HelveticaNeue;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
      letter-spacing: 0.5px;
      color: #505050;
      padding: 15px;
    }
    .optionNav
    {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .socialLogos
    {
      display:flex;
      text-align:center;
      justify-content: space-between;
    }
    .socialLogos button
    {
      border-radius: 50%;
      height:32px;
      width:32px;
      background-color: #022737;
      color: white;
      opacity: 0.5;
      border:3px solid white;

    }
    .tabColumns
    {
      display:flex;
    }
    .tabColumn
    {
      flex-basis: 50%;
    }
    .title
    {
      padding-top:23px;
      padding-left:5%;
      font-size: 14px;
      line-height: 1.43;
    }
    .title h1
    {
      font-size: 36px;
      line-height: 1.17;
      letter-spacing: 0.5px;
      margin-bottom: 5px;
    }
    .title h2
    {
      margin: 0px 0px;
      font-size: 14px;
      line-height: 1.43;
    }
    .top
    { 
      display: flex;
      padding:10px 5%;
      text-align: center;
      justify-content: space-between;
    }
    .top span
    {
      margin-left:20px;
    }
    .links
    {
     display: none;
    }
    .show
    {
      display: block;
    }
    .mobile
    {
      display:block;
    }
    .navigation
    {
      padding:17px 5%;
      font-size: 12px;
      line-height:1.5;
    } 
    .viewButtons
    {
      padding:20px 5%;
      flex-direction: column;
    }
    .viewButtons button
    {
      margin-bottom: 20px;
      margin-right:0px;
    }
    .warning
    {
      justify-content: space-between;
      margin:20px 5%;
      padding:0px 2%;
      height:80px;
      align-items: center;
      border-left:none;
      border-top:6px solid #e37222;
    }
}